#content{
  align: center middle;
  border: heavy rgb(214, 93, 14);
  background: rgb(40, 40, 40);
}

Static{
  width: 40%;  border: heavy rgb(104, 157, 106);
  border: heavy rgb(69, 133, 136);
  content-align: center middle;
}

